<ng-container *ngIf="scooters | async as s">
  <div class="scooters-list">

    <mat-card *ngFor="let scooter of s.items" class="scooter-card mat-elevation-z8">
      <mat-card-title>{{scooter.name}}</mat-card-title>
      <mat-card-content>
        <table cellSpacing="8">

          <tr class="scooter-property-row">
            <td class="scooter-property-name"> Модель </td>
            <td class="scooter-property-value"> {{scooter.model}} </td>
          </tr>
          <tr class="scooter-property-row">
            <td class="scooter-property-name"> Адрес </td>
            <td class="scooter-property-value"> {{scooter.address}} </td>
          </tr>

          <tr class="scooter-property-row">
            <td class="scooter-property-name"> Цена </td>
            <td class="scooter-property-value"> {{scooter.price}} </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="createRent(scooter)">Арендовать</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [length]="s.totalElements" [pageSize]="this.page.value" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)" aria-label="Выбрете страницу">
  </mat-paginator>
</ng-container>
